                  <!-- <app-form-text-input label="Telegram" [form]="form" [control_name]="form.get('telegram')"
                    class="col-span-6 sm:col-span-3" form_ControlName="telegram">
                  </app-form-text-input> -->


                  <form action="#" method="POST">
                    <div class="overflow-hidden shadow sm:rounded-md">
                      <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
                        <fieldset>
                          <legend class="sr-only">By Email</legend>
                          <div class="text-base font-medium text-gray-900" aria-hidden="true">By Email</div>
                          <div class="mt-4 space-y-4">
                            <div class="flex items-start">
                              <div class="flex h-5 items-center">
                                <input id="comments" name="comments" type="checkbox"
                                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                              </div>
                              <div class="ml-3 text-sm">
                                <label for="comments" class="font-medium text-gray-700">
                                  Заказчик
                                </label>
                                <p class="text-gray-500">Get notified when someones posts a comment on a
                                  posting.</p>
                              </div>
                            </div>
                            <div class="flex items-start">
                              <div class="flex h-5 items-center">
                                <input id="candidates" name="candidates" type="checkbox"
                                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                              </div>
                              <div class="ml-3 text-sm">
                                <label for="candidates" class="font-medium text-gray-700">
                                  Исполнитель
                                </label>
                                <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                              </div>
                            </div>



                          </div>
                        </fieldset>



                      </div>
                      <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                        <app-form-button></app-form-button>
                      </div>
                    </div>
                  </form>