    <div class="mt-10">
      <div class="shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">

          <!-- start -->
          <div style="position: relative; padding-bottom: 5px;">

            <!-- страны начало -->
            <form>
              <div class="sm:rounded-md">
                <div class="bg-white">
                  <fieldset>
                    <div class="text-base font-medium text-gray-900 mb-2" aria-hidden="true">
                      {{title | translate}}
                    </div>
                    <div class="grid grid-cols-2">
                      <ng-container *ngFor="let item of allFiltersForSelect; let i=index">
                        <app-tw-checkbox class="mt-2 mb-2" (checkboxChanged)="setItem($event, item)"
                          [id]="item.id + title" [selector]="2" [isChecked]="isSelected(item)" [value]="item">
                          {{item.attributes.name }}
                        </app-tw-checkbox>
                      </ng-container>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>
            <!-- страны завершение -->
            <!-- end -->
          </div>
          <!-- end -->


        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6 justify-end flex">
          <app-tw-button-third-without-icon iconPath="empty" (click)="updateData()" [isLoading]="isPending"
            [isDisabled]="isPending">
            {{'Сохранить' | translate}}
          </app-tw-button-third-without-icon>
        </div>
      </div>
    </div>