<div fixed style="background: rgba(245, 245, 245, 0.731); border-radius: 16px;">

  <div justify-content-end>
    <div padding size-xs="12" size-sm="12" size-md="12" size-lg="12" align-self-stretch>
      <div class="block">
        <div style="display: flex; justify-content: row; width: 100%; padding-left: 30px; padding-left: 30px;
    align-items: center;
    vertical-align: middle;">
          <img src="./assets/about/about_5.jpg" class="banner-img" alt="">
          <div style="display: flex; flex-direction: column; padding: 20px; width: 100%;">
            <span class="text">
              Самый мощный русскоязычный каталог в стране
            </span>
            <br>

            <span>Объявления разбиты по широкому спектру категорий.
              <br>
              Покажем, на каком языке говорит автор
              объявления.
              <br>
              Простой и удобный поиск по разделам для туристов и гостей города
            </span>
          </div>

        </div>
      </div>
    </div>

    <div align-self-center padding size-xs="12" size-sm="12" size-md="6" size-lg="8">




      <div class="block">
        <div style="display: flex; justify-content: row; width: 100%; padding-left: 30px;">
          <img src="./assets/about/about_2.jpg" style="width: 200px; border-radius: 16px; filter: grayscale(0.35);"
            alt="">
          <div style="display: flex; flex-direction: column; padding: 20px;">
            <span class="text">
              Мы ищем волонтеров! Ищем рекламодателей и партнеров проекта.
            </span>
            <br>
            <span>
              Пиши нам, если хочешь помочь в развитии проекта. Нам нужны контент-менеджеры, дизайнер и
              frontend-разработчик (angular).
              <br>
              Связаться с владельцами проекта <a href="mailto:geohelperapp@gmail.com">geohelperapp@gmail.com</a>
            </span>
          </div>
        </div>
      </div>

    </div>
    <div text-center padding size-xs="12" size-sm="12" size-md="6" size-lg="4">
      <div class="block">
        <span class="text">
          Регулярно добавляем новые фичи.
        </span>
        <span>
          И снижаем стресс в эмиграции
        </span>
      </div>
    </div>


  </div>
</div>