<div class="max-h-full pt-10   bg-gray-50" style="height: 100vh;" *ngIf="userProfile">
  <main class="py-10 max-h-full">
    <!-- Page header -->
    <div
      class="mx-auto max-w-3xl px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
      <div class="flex items-center space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img *ngIf="userProfile.pictureUrl" class="h-12 w-12 rounded-full shadow-md"
              src="{{userProfile.pictureUrl}}" alt="">
            <img *ngIf="!userProfile.pictureUrl" class="h-12 w-12 rounded-full shadow-md"
              src="{{userProfile.pictureUrl}}" alt="">
            <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
          </div>
        </div>
        <div>
          <h1 class="text-2xl font-bold text-gray-900">
            {{userProfile.firstName}} {{userProfile.secondName}}
          </h1>
          <p class="text-sm font-normal  text-gray-600">
            {{'Профиль создан' | translate}}
            <time>
              <!-- August 25, 2020 -->
              {{userProfile.createdAt | datelocale}}
            </time></p>
        </div>
      </div>

      <div
        class="justify-stretch mt-6 flex flex-col-reverse space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-y-0 sm:space-x-3 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">


        <ng-container *ngIf="(currentUser$ | async).id === +userProfile.id">
          <app-tw-button-third iconPath="tw_write" class="mb-3 sm:mb-3 lg:mb-0 transition">
            {{'Редактировать' | translate }}
          </app-tw-button-third>
        </ng-container>


        <ng-container *ngIf="(currentUser$ | async).id !== +userProfile.id">
          <app-tw-button-third iconPath="tw_write" class="mb-3 sm:mb-3 lg:mb-0 transition">
            {{'Написать отзыв' | translate }}
          </app-tw-button-third>
        </ng-container>





      </div>
    </div>

    <!-- <pre class="p-4">
      {{ userProfile | json }}
    </pre> -->

    <div
      class="mx-auto mt-8 grid max-w-3xl grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
      <div class="space-y-6 lg:col-span-3 lg:col-start-1">
        <!-- Description list-->
        <section aria-labelledby="applicant-information-title">
          <div class="bg-white shadow sm:rounded-lg">

            <div class=" px-4 py-5 sm:px-6">
              <div class="sm:col-span-2">
                <dt class="text-lg font-medium leading-6 text-gray-900">{{'О себе' | translate}}</dt>
                <dd class="mt-1 mb-5 text-sm text-gray-800" *ngIf="userProfile.userDescription">
                  {{userProfile.userDescription}}
                </dd>
                <dd class="mt-1 mb-5 text-sm text-gray-900" *ngIf="!userProfile.userDescription">
                  {{'Не заполнено'}}
                </dd>
              </div>
              <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                  <dt class="text-lg font-medium leading-6 text-gray-900">
                    Тип профиля
                  </dt>
                  <dd class="mt-1 text-sm text-gray-700">
                    {{'Заказчик'}}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-lg font-medium leading-6 text-gray-900">
                    {{'Email адрес' | translate}}
                  </dt>
                  <dd class="mt-1 text-sm text-gray-700 hover:text-indigo-700 hover:underline">
                    <a href="mailto:{{userProfile.email}}">{{userProfile.email}}</a>
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-lg font-medium leading-6 text-gray-900">
                    {{'Telegram' | translate}}
                  </dt>
                  <dd class="mt-1 text-sm text-gray-700 cursor-pointer hover:text-indigo-700 hover:underline"
                    (click)="sendTelegramm(userProfile.telegramUserName)">
                    @{{userProfile.telegramUserName}}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-lg font-medium leading-6 text-gray-900">
                    {{'Рейтинг' | translate}}
                  </dt>
                  <dd class="mt-1 text-sm text-gray-700">
                    7,5 из 10
                  </dd>
                </div>
              </dl>

              <app-section-attachments *ngIf="false"></app-section-attachments>

            </div>
            <div>
              <a
                class=" block bg-gray-50 px-4 py-4 text-center text-lg font-medium leading-6 text-gray-900 hover:text-gray-700 sm:rounded-b-lg">
                <span style="color: transparent;">
                  -
                </span>
              </a>
            </div>
          </div>
        </section>

        <app-section-notes *ngIf="false"></app-section-notes>

      </div>

      <section aria-labelledby="timeline-title" class="lg:col-span-1 lg:col-start-3" *ngIf="false">
        <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6 pb-10">
          <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Timeline</h2>

          <!-- Activity Feed -->
          <div class="mt-6 flow-root">
            <ul role="list" class="-mb-8">
              <li>
                <div class="relative pb-8">
                  <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <div class="relative flex space-x-3">
                    <div>
                      <span class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white">
                        <!-- Heroicon name: mini/user -->
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                          fill="currentColor" aria-hidden="true">
                          <path
                            d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                        </svg>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Applied to <a class="font-medium text-gray-900">Front
                            End Developer</a></p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time datetime="2020-09-20">Sep 20</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="relative pb-8">
                  <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <div class="relative flex space-x-3">
                    <div>
                      <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                        <!-- Heroicon name: mini/hand-thumb-up -->
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                          fill="currentColor" aria-hidden="true">
                          <path
                            d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                        </svg>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Advanced to phone screening by <a
                            class="font-medium text-gray-900">Bethany Blake</a></p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time datetime="2020-09-22">Sep 22</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="relative pb-8">
                  <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <div class="relative flex space-x-3">
                    <div>
                      <span
                        class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                        <!-- Heroicon name: mini/check -->
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                          fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                            clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Completed phone screening with <a
                            class="font-medium text-gray-900">Martha Gardner</a></p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time datetime="2020-09-28">Sep 28</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="relative pb-8">
                  <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <div class="relative flex space-x-3">
                    <div>
                      <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                        <!-- Heroicon name: mini/hand-thumb-up -->
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                          fill="currentColor" aria-hidden="true">
                          <path
                            d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                        </svg>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Advanced to interview by <a
                            class="font-medium text-gray-900">Bethany Blake</a></p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time datetime="2020-09-30">Sep 30</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="relative pb-8">
                  <div class="relative flex space-x-3">
                    <div>
                      <span
                        class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                        <!-- Heroicon name: mini/check -->
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                          fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                            clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Completed interview with <a
                            class="font-medium text-gray-900">Katherine Snyder</a></p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time datetime="2020-10-04">Oct 4</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>


<div class="flex h-full w-full justify-center align-middle content-center " style="align-items: center;"
  *ngIf="!userProfile">
  <img src="./assets/svg/spinner.svg" class="w-7 h-7" alt="">
</div>