.back-link {
  opacity: 0.8;
  margin-top: 16px;
}

.back-link:hover {
  opacity: 1;
}

.back-link-text {
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
  margin-left: 7px;
  color: var(--ion-color-primary);
  display: flex;
  align-items: center;
  vertical-align: middle;
}
