<div class="bg-white" *ngIf="currentCompany">
  <div class="mx-auto max-w-full py-20 md:pt-20 sm:py-24 px-4 sm:px-6 lg:px-16 overflow-hidden">





    <app-filters-button-chip class="mb-3" icon="move_left" style="width: fit-content;" [isReversed]="true" backButton>
      {{ 'Назад' | translate }}
    </app-filters-button-chip>




    <div class="flex-col flex md:flex-row mt-10 justify-between md:justify-start items-center md:items-start">






      <ng-container *ngIf="currentCompany?.data.attributes?.images?.data?.length > 0">
        <img class="mx-auto md:mx-0 mb-3 md:mr-5 h-28 w-28 rounded-full"
          src="{{imageUri + currentCompany?.data.attributes.images?.data[0]?.attributes?.formats.medium.url}}" alt="">
      </ng-container>

      <ng-container *ngIf="currentCompany?.data.attributes?.images?.data?.length === null">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="h-24 w-24">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
        </svg>
      </ng-container>


      <div class="flex flex-col justify-center items-center md:items-start md:pl-4">
        <h1 class="text-2xl text-center font-bold tracking-tight text-gray-900 sm:text-3xl">

          <ng-container *ngIf="currentCompany.data.attributes.name?.length === null">
            {{'Редактирование профиля компании'  | translate}}
          </ng-container>
          <ng-container *ngIf="currentCompany.data.attributes.name?.length > 0">
            {{currentCompany.data.attributes.name}}
          </ng-container>
        </h1>


        <div class="mt-2 text-center text-sm text-gray-500 w-full flex justify-center md:text-left md:justify-start">
          {{currentCompany?.data.attributes.description | translate}}
        </div>
        <div
          class="mt-2 text-center md:text-left text-sm font-bold text-gray-500 w-full flex justify-center md:justify-start">
          {{'Профиль был создан' | translate}} {{currentCompany?.data.attributes.createdAt | datelocale}}
        </div>
      </div>

    </div>


    <dl class="grid grid-cols-1 sm:grid-cols-2 mt-6">


      <ng-container *ngIf="currentCompany?.data.attributes.instagramCompanyName?.length > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-1 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">{{'Instagram' | translate}}</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.instagramCompanyName | translate}}
          </dd>
        </div>
      </ng-container>

      <ng-container *ngIf="currentCompany?.data.attributes.telegramCompanyName?.length > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-1 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">{{'Telegramm' | translate}}</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.telegramCompanyName | translate}}
          </dd>
        </div>
      </ng-container>


      <ng-container *ngIf="currentCompany?.data.attributes.facebookCompanyName?.length > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-1 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">{{'Facebook' | translate}}</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.facebookCompanyName }}
          </dd>
        </div>
      </ng-container>


      <ng-container *ngIf="currentCompany?.data.attributes.website?.length > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-1 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">{{'Сайт' | translate}}</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.website }}
          </dd>
        </div>
      </ng-container>

      <ng-container *ngIf="currentCompany?.data.attributes.email?.length > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-1 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">{{'Email' | translate}}</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.email}}
          </dd>
        </div>
      </ng-container>

      <ng-container *ngIf="currentCompany?.data.attributes.phone > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-1 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">{{'Телефон' | translate}}</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.phone }}
          </dd>
        </div>
      </ng-container>


      <ng-container *ngIf="currentCompany?.data.attributes.address?.length > 0">
        <div class="border-t border-gray-100 px-4 py-4 sm:col-span-2 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            {{'Адрес' | translate}}
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
            {{currentCompany?.data.attributes.address }}
          </dd>
        </div>

      </ng-container>



      <div class="border-t border-gray-100 px-4 py-4 sm:col-span-2 sm:px-0" *ngIf="false">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          {{'Прайс-лист'}}
        </dt>
        <dd class="mt-2 text-sm text-gray-900">
          <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
            <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
              <div class="flex w-0 flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                    clip-rule="evenodd" />
                </svg>
                <div class="ml-4 flex min-w-0 flex-1 gap-2">
                  <span class="truncate font-medium">resume_back_end_developer.pdf</span>
                  <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                </div>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer">
                  {{'Скачать' | translate}}
                </a>
              </div>
            </li>

          </ul>
        </dd>
      </div>
    </dl>


    <div class="mt-6 pb-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-10 gap-x-6 xl:gap-x-8 scroll-smooth"
      style="position: relative;">

      <ng-container *ngFor="let item of currentCompany.data.attributes.proposals.data; let i=index">

        <ng-container *ngIf="item?.attributes?.images?.data?.length > 0">
          <app-tw-card-wide [routerLink]="['/dashboard/items', item?.id  ]" name="{{item?.attributes?.name}}"
            description="{{item?.attributes?.description}}" [imageUri]="imageUri"
            [mediumImageUrl]="item?.attributes?.images?.data[0]?.attributes?.formats?.medium?.url"
            createdAt="{{item?.attributes?.createdAt | datelocale}}" specialStatusText="{{'Продано' | translate}}"
            [isSpecialStatus]="+item?.attributes?.proposal_status?.data?.id === 4"
            placeholderUrl="./assets/placeholders/placeholder_1.png">
          </app-tw-card-wide>
        </ng-container>

      </ng-container>

    </div>



    <!-- <pre>
  {{currentCompany.data.attributes.proposals.data | json}}
</pre> -->



  </div>
</div>