<div *ngIf="!(currentUser$ | async)">
  <button type="button" class="flex h-8 w-8 rounded-full overflow-hidden bg-gray-800 text-sm focus:outline-none focus:ring-white
              focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false"
    aria-haspopup="true" [ngClass]="{'ring-indigo-700 activated ring-2 ring-offset-2 ring-offset-gray-800':
              (this.popoverStatus$ | async)?.status && (popoverStatus$ | async).popoverType ==='menu'}">


    <img class="h-8 w-8 bg-indigo-600 rounded-full" src="./assets/svg/profile.svg" alt="">

  </button>
  <ng-content></ng-content>
</div>
