<!-- https://tailwindui.com/components/ecommerce/components/order-history -->
<div class="bg-white">
  <div class="mx-auto max-w-full py-8  sm:py-24 px-4 sm:px-6 lg:px-16 overflow-hidden mt-14 md:mt-5 min-h-screen">
    <div class="mb-16">
      <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
        {{'Мои сделки'  | translate}}
      </h1>
      <div class="mt-2 text-sm text-gray-500 w-full flex">
        {{'Услуги, которые тебя заинтересовали. Отметь те, которыми ты воспользовался и оставь отзыв. Ты помежешь другим пользователям.'}}
      </div>
    </div>

    <div>
      <h2 class="sr-only">Recent orders</h2>
      <div class="space-y-20" *ngIf="(requestsDto$ | async ) as requestsDto;">
        <div *ngIf="(requests$ | async) as requests">
          <table *ngIf="requests?.length > 0 && (requestsDto$ | async)?.length > 0"
            class="mt-4 w-full text-gray-500 sm:mt-6">
            <caption class="sr-only">
              Products
            </caption>
            <thead class="sr-only text-left text-sm text-gray-500 sm:not-sr-only font-bold">
              <tr>
                <th scope="col" class="py-3 pr-8 font-normal sm:w-2/5 lg:w-1/3">{{'Услуга' | translate}}</th>
                <th scope="col" class="hidden py-3 pr-8 font-normal sm:table-cell">
                  {{'Название' | translate}}
                </th>
                <th scope="col" class="w-0 py-3 text-left font-normal">
                  {{'Когда добавлено' | translate}}
                </th>
              </tr>
            </thead>


            <tbody class="divide-y divide-gray-200 border-b border-gray-200 text-sm sm:border-t">

              <ng-container *ngFor="let request of requests; let i=index">

                <tr>
                  <td class="py-6 pr-5">
                    <div class="flex items-center">

                      <img *ngIf="request.attributes.images.data"
                        src="{{'http://strapi.karavanglobal.space' + request.attributes?.images?.data[0]?.attributes?.formats.thumbnail.url}}"
                        alt="Detail of mechanical pencil tip with machined black steel shaft and chrome lead tip."
                        class="mr-6 h-16 w-16 rounded object-cover object-center" style="min-width: 64px;">


                      <!-- <div>
                        <div class="font-medium text-gray-900">
                          {{request.attributes.name}}
                        </div>
                        <div class="mt-4 sm:hidden">
                          <ng-container *ngIf="(request | request:requestsDto)?.status === 1">
                            <app-tw-badge-small [isYellow]="true">в процессе</app-tw-badge-small>
                          </ng-container>

                          <ng-container *ngIf="(request | request:requestsDto)?.status === 2">
                            <app-tw-badge-small [isGreen]="true">завершено</app-tw-badge-small>
                          </ng-container>

                          <ng-container *ngIf="(request | request:requestsDto)?.status === 3">
                            <app-tw-badge-small [isGray]="true">отменено</app-tw-badge-small>
                          </ng-container>

                          <ng-container *ngIf="(request | request:requestsDto)?.status === 4">
                            <app-tw-badge-small [isRed]="true">нет связи</app-tw-badge-small>
                          </ng-container>

                        </div>
                      </div> -->
                    </div>
                  </td>
                  <td class="hidden py-6 pr-0 sm:table-cell">
                    <div class="mb-2 cursor-pointer hover:text-black">
                      {{(request.attributes.name )}}
                    </div>
                    <div class="font-bold cursor-pointer hover:text-black">
                      {{(request.attributes.company.data.attributes.name )}}
                    </div>

                  </td>

                  <td class="py-6 sm:table-cell sm:px-0 pr-0">
                    {{(request | request:requestsDto)?.createdAt | datetimelocale}}
                  </td>

                </tr>



              </ng-container>
              <!-- More products... -->
            </tbody>


          </table>


        </div>


      </div>

      <ng-container *ngIf="(!(requestsDto$ | async) === true || !(requests$ | async) === true)">
        <app-spinner></app-spinner>
      </ng-container>

      <ng-container *ngIf="(requestsDto$ | async )?.length === 0 
                            && ((requests$ | async) !== null)">
        <app-tw-empty title="Ничего не нашел" subtitle="Пока еще пусто, потому что ты ничего не заказывал."
          [routerLink]="[ '/dashboard/items' ]" icon="./assets/svg/tw_doc_black.svg">
        </app-tw-empty>
      </ng-container>

      <!-- <div>
        <pre style="font-size: 11px;">
            {{ (requestsDto$ | async )  | json}}
        </pre>
      </div> -->


    </div>
  </div>
</div>

<!-- <app-grade [strapiProposalId]="(scoreForRequest$ | async)"></app-grade> -->
