<div class="bg-white py-14 pb-20">
  <div class="mx-auto px-4 sm:px-6 lg:px-16">
    <div class="mx-auto px-4 sm:px-6 text-left h-fit md:h-2/3 align-top justify-center flex flex-col lg:px-16 
    items-start lg:max-w-screen-xl max-w-lg">
      <app-landing-title
        subtitle="{{'Мы увлечены тем, что мы делаем, и стремимся обеспечить наилучшие результаты для наших клиентов' | translate}}">
        {{'Наша команда' | translate}}
      </app-landing-title>
    </div>
    <ul role="list"
      class="mx-auto mt-20 grid max-w-2xl justify-center grid-cols-1 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">


      <li>
        <img class="mx-auto h-24 w-24 rounded-full cursor-default" src="./assets/team/dev_.jpg" alt="">
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
          David
        </h3>
        <p class="text-sm leading-6 text-gray-600">Co-Founder / CTO</p>
      </li>

      <li>
        <span class="inline-flex h-24 w-24 items-center justify-center rounded-full bg-slate-700 cursor-default">
          <span class="text-xl font-medium leading-none text-white">DN</span>
        </span>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
          Dariya
        </h3>
        <p class="text-sm leading-6 text-gray-600">Designer </p>
      </li>


      <li>
        <span class="inline-flex h-24 w-24 items-center justify-center rounded-full bg-gray-500 cursor-default">
          <span class="text-xl font-medium leading-none text-white">PE</span>
        </span>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">{{'Вакансия' | translate}}</h3>
        <p class="text-sm leading-6 text-gray-600">Property expert</p>
      </li>



      <li>
        <span class="inline-flex h-24 w-24 items-center justify-center rounded-full bg-gray-500 cursor-default">
          <span class="text-xl font-medium leading-none text-white">AM</span>
        </span>
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">{{'Вакансия' | translate}}</h3>
        <p class="text-sm leading-6 text-gray-600">Account manager</p>
      </li>

    </ul>
  </div>
</div>
