<app-landing-title [isDarkTheme]="false" class="items-start text-left"
  subtitle="{{'Весь процесс структурирования и оформления сделки ведут профессиональные компании - агентства недвижимости, которые организуют продажу' | translate}}">
  {{'Шаги прохождения сделки' | translate}}
</app-landing-title>


<div class="py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl lg:py-20">
  <div class="grid mx-auto gap-12 grid-cols-1 md:grid-cols-2">

    <div
      class="flex max-w-full  bg-opacity-25 items-center cursor-default hover:outline-none  transition justify-center p-6 pl-0 rounded-md">

      <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0 max-w-xl">
        <div>
          <div
            class="font-display text-lg flex align-middle items-center ml-0 text-center font-semibold text-gray-700 justify-start">
            <img src="./assets/svg/tw_step_1.svg" class="mr-3 flex items-center w-10 h-10" alt="">
            Сбор заявок
          </div>
          <p class="text-gray-700 mt-3 text-base leading-6 text-left">
            Собираем заявки на необходимую сумму! Каждая заявка подтверждается агентством недвижимости. По мере сбора
            заявок будущие собственники могут знакомиться друг с другом. По правилам платформы отдельный покупатель не
            может приобрести контрольный пакет недвижимого имущества.
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex max-w-full  bg-opacity-25 items-center cursor-default hover:outline-none  transition justify-center p-6 pl-0 rounded-md">

      <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0 max-w-xl">
        <div>
          <div
            class="font-display text-lg flex align-middle items-center ml-0 text-center font-semibold text-gray-700 justify-start">
            <img src="./assets/svg/tw_step_2.svg" class="mr-3 flex items-center w-10 h-10" alt="">
            Подтверждение сделки
          </div>
          <p class="text-gray-700 mt-3 text-base leading-6 text-left">
            Если набрана достаточная сумма происходит проверка юридической правоустанавливающей документации и
            согласование всех необходимых условий сделки и владения имущества перед выходом на сделку. Если кто-то
            передумал приобретать недвижимость сделка откатывается на предыдущий шаг.
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex max-w-full  bg-opacity-25 items-center cursor-default hover:outline-none  transition justify-center p-6 pl-0 rounded-md">
      <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0 max-w-xl">
        <div>
          <div
            class="font-display text-lg flex align-middle items-center ml-0 text-center font-semibold text-gray-700 justify-start">
            <img src="./assets/svg/tw_step_3.svg" class="mr-3 flex items-center w-10 h-10" alt="">
            Выход на сделку
          </div>
          <p class="text-gray-700 mt-3 text-base leading-6 text-left">
            В этот момент оформляются и согласовываются все необходимые юридические документы и собираются денежные
            средства на аккредитивном счете, подписывается предварительный договор. Если кто-то передумал приобретать
            недвижимость сделка откатывается на предыдущий шаг.
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex max-w-full  bg-opacity-25 items-center cursor-default hover:outline-none  transition justify-center p-6 pl-0 rounded-md">
      <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0 max-w-xl">
        <div>
          <div
            class="font-display text-lg flex align-middle items-center ml-0 text-center font-semibold text-gray-700 justify-start">
            <img src="./assets/svg/tw_step_4.svg" class="mr-3 flex items-center w-10 h-10" alt="">
            Подписание договора
          </div>
          <p class="text-gray-700 mt-3 text-base leading-6 text-left">
            На этом шаге подписывается договор купли-продажи коммерческой недвижимости, а денежные средства
            перечисляются продавцу с аккредитива. После регистрации сделки ты вступаешь в законные права собственности
            вместе с другими собственниками и начинаешь получать доход от аренды!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
