<div id="dropdowncustom">
  <div class="relative mt-2">
    <button id="dropdowncustom" type="button"
      class="cursor-pointer relative w-full rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
      aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
      <span id="dropdowncustom" class="block truncate">
        {{'Выбери город из списка' | translate}}
      </span>
      <span id="dropdowncustom" class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <ul *ngIf="isOpened" style="max-height: 225px;"
      class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
      tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
      <!--
        Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
        Highlighted: "bg-indigo-600 text-white", Not Highlighted: "text-gray-900"
      -->

      <ng-container *ngFor="let item of items; let i=index">
        <app-my-proposal-page-cities-select-option id="{{item.id}}" (mouseenter)="isHovered($event)"
          (mouseleave)="curentHoverElementId = 0" [isHovered]="(+curentHoverElementId === +item.id)"
          (click)="setCity(item)" [isSelected]="isSelected(item.id)">
          {{item.attributes.name}}
        </app-my-proposal-page-cities-select-option>
      </ng-container>



      <!-- More items... -->


    </ul>
  </div>
</div>

<div class="flex pt-5">
  <ng-container *ngFor="let city of selectedCities; let i=index">
    <app-filters-button-chip class="mr-3 mb-3" icon="tw_close" (click)="removeSpecificCity(city)">
      {{ city.attributes.name }}
    </app-filters-button-chip>
  </ng-container>
</div>