<div class="authorize-page-wrapper">
  <div class=" login-page-wrapper">
    <div class="items-center flex justify-center ">
      <img src="assets/svg/tw_email_outline.svg" class="w-6 h-6 animation" alt="">
    </div>
    <div class="container" style="text-align: center;">

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
          {{'Загляните в почту' | translate}}.
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Туда было отправлено письмо <br>
          с магической ссылкой для входа
          <br>
          в приложение.
        </p>
      </div>
    </div>
  </div>
</div>