      <a class="-m-3 flex flex-col justify-between rounded-lg p-3 transition duration-150 ease-in-out hover:bg-gray-50">
        <div class="flex md:h-full lg:flex-col">
          <div class="flex-shrink-0">
            <div
              class="inline-flex h-10 w-10 items-center justify-center rounded-md bg-indigo-500 text-white sm:h-12 sm:w-12">
              <img class="h-6 w-6" src="./assets/svg/{{iconPath}}.svg" alt="">
            </div>
          </div>
          <div class="ml-4 md:flex md:flex-1 md:flex-col md:justify-between lg:ml-0 lg:mt-4">
            <div>
              <p class="text-base font-medium text-gray-900">
                {{title}}
              </p>
              <p class="mt-1 text-sm text-gray-500">
                {{description}}
              </p>
            </div>
            <p class="mt-2 text-sm font-medium text-indigo-600 lg:mt-4">
              {{link}}
              <span aria-hidden="true"> &rarr;</span>
            </p>
          </div>

        </div>
      </a>