      <!-- <div class="mt-2 flex items-start text-sm text-gray-500">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="mr-1.5 w-5 h-5 text-gray-500">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
        </svg>
        <span>
          <ng-content></ng-content>
        </span>

      </div> -->


      <div class="inline-flex items-center  border border-slate-300 bg-white pl-3 pr-3 opacity-70 hover:opacity-90 hover:border-slate-500 transition relative z-0 rounded-full
      px-3 py-1.5 font-medium text-gray-900 text-xs" style="cursor: pointer;">
        <span class="mr-1">
          <ng-content></ng-content>
        </span>

        <div class="h-5" *ngIf="icon">
          <img class="w-5" src="./assets/svg/{{icon}}.svg" alt="">
        </div>

      </div>