:host {
  display: block;
}

.ion-no-padding {
  padding: 0px !important;
}

ion-input::placeholder {
  color: lightgrey;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: Source Sans Pro;
}

.disabled {
  color: rgba(0, 0, 0, 0.4);
}

// ***
// ion input
// ***

ion-item {
  --highlight-color-focused: transpatrent;

  &::part(native) {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }

  ion-label {
    color: #000000;
    opacity: 0.4;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
  }

  ion-input {
    --padding-top: 0px;
    --padding-bottom: 10px;
  }
}

.label {
  top: 6px;
  position: absolute;
  font-size: var(--small);
  color: var(--font);
  width: fit-content;
  padding: 4px 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.input {
  background-color: var(--background);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: Source Sans Pro;
}

ion-input:hover {
  border-color: black;
}

ion-input:disabled {
  background: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000000;
  opacity: 0.4;
  font-family: Source Sans Pro;
}

.validator {
  padding-left: 20px;
  position: relative;
  color: #e63737;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
