<div class="flex flex-row justify-start my-3" id="{{elementId}}">
  <div class="w-8 h-8 relative flex flex-shrink-0 mr-4">



    <!-- <img class="shadow-md rounded-full w-full h-full object-cover"
      src="https://randomuser.me/api/portraits/women/33.jpg" alt="" /> -->




    <ng-container *ngIf="!(userToShow)?.pictureUrl; else ava">
      <svg class="shadow-md rounded-full w-full h-full object-cover" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
      </svg>
    </ng-container>

    <ng-template #ava>
      <img class="shadow-md rounded-full w-full h-full object-cover transition-all"
        [src]="(userToShow)?.pictureUrl | secure | async" alt="" />
    </ng-template>






  </div>


  <div class="messages text-sm text-gray-700 grid grid-flow-row gap-2">
    <div class="flex items-center group">
      <div class="px-6 py-3 pb-8 rounded-lg rounded-tl-none  max-w-xs md:max-w-lg lg:max-w-lg relative w-80" [ngClass]="{'bg-indigo-600 text-white': isMyMessage, 
    'bg-gray-200 text-black': !isMyMessage}">
        <span style="word-break: break-all;">
          {{message?.text}}
        </span>

        <ng-container *ngIf="message.images?.length > 0">
          <ng-container *ngFor="let file of message.images; let i=index">
            <div class="cursor-pointer my-4 flex-col md:flex md:flex-row bg-indigo-500 bg-opacity-80 hover:bg-opacity-40 rounded-lg transition-all
              align-middle items-center p-2 pl-3 gap-y-3" (click)="save(file)">

              <img class="mr-3 w-5 h-5" src="./assets/svg/mime/{{file.fileType | mime}}.svg" alt="">

              <div class="text-sm flex flex-col" style="max-width: 220px;">
                <p class="flex flex-wrap text-sm">
                  {{file.fileName }}
                </p>
                <p class="text-xs">
                  {{file.fileSize | filesize}}
                </p>
              </div>
            </div>
          </ng-container>
        </ng-container>


        <span class="text-xs leading-none absolute bottom-3 left-6">
          {{message?.createdAt | timeago}}
        </span>

        <ng-container *ngIf="isMyMessage">
          <ng-container *ngIf="message?.isReaded">
            <span class="absolute bottom-1 right-2">
              <img src="./assets/svg/readed.svg" alt="">
            </span>
          </ng-container>

          <ng-container *ngIf="message?.isReaded === false">
            <span class="absolute bottom-1 right-2">
              <img src="./assets/svg/readed_false.svg" alt="">
            </span>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
</div>
