<div class="mt-10">
    <div class="shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">

            <!-- start -->
            <div style="position: relative; padding-bottom: 5px;">

                <!-- страны начало -->
                <form>
                    <div class="sm:rounded-md">
                        <div class="bg-white">
                            <fieldset>
                                <div class="text-base font-medium text-gray-900 mb-2" aria-hidden="true">
                                    {{'Тип объявления' | translate}}
                                </div>
                                <div class="grid grid-cols-2">
                                    <!-- <app-tw-button-radio value="1" [form]="form" [control_name]="'proposalTypeControl'"
                                        [form_control_name]="'myRadio'" title=""
                                        subtitle="">
                                    </app-tw-button-radio>
                                    <app-tw-button-radio value="2" [form]="form" [control_name]="'bye'"
                                        [form_control_name]="'myRadio'" title="Хочу купить"
                                        subtitle="">
                                    </app-tw-button-radio> -->


                                    <div class="mt-2 space-y-5">
                                        <div class="relative flex items-start">

                                            <div class="absolute flex h-5 items-center" [formGroup]="form">
                                                <input type="radio" class="custom-control-input" value="{{1}}"
                                                    class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500 cursor-pointer"
                                                    [formControl]="form.get('proposalTypeControl')">
                                            </div>
                                            <div class="pl-7 text-sm">
                                                <label for="privacy-private-to-project"
                                                    class="font-medium text-gray-900">
                                                    Продаю
                                                </label>
                                                <p id="privacy-private-to-project-description" class="text-gray-500">
                                                    Выберите этот пункт, если вы планируете продавать этот товар и ищете
                                                    покупателей
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mt-2 space-y-5">
                                        <div class="relative flex items-start">

                                            <div class="absolute flex h-5 items-center" [formGroup]="form">
                                                <input type="radio" class="custom-control-input" value="{{2}}"
                                                    class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500 cursor-pointer"
                                                    [formControl]="form.get('proposalTypeControl')">
                                            </div>
                                            <div class="pl-7 text-sm">
                                                <label for="privacy-private-to-project"
                                                    class="font-medium text-gray-900">
                                                    Покупаю
                                                </label>
                                                <p id="privacy-private-to-project-description" class="text-gray-500">
                                                    Укажите, если вы высталяет заявку на покупку данного товара и ищете
                                                    продавцов
                                                </p>
                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <!-- end -->
            </div>

            <!-- end -->





        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6 justify-end flex">
            <app-tw-button-third-without-icon iconPath="empty" (click)="updateProposalTypeData()"
                [isLoading]="isPending" [isDisabled]="isPending">
                {{'Сохранить' | translate}}
            </app-tw-button-third-without-icon>
        </div>
    </div>
</div>