<form>
  <div class="sm:rounded-md">
    <div class="grid grid-cols-6 gap-6">
      <app-form-text-input [isWithIcon]="true" label="Минимум" [form]="form"
        [control_name]="form.get('minBuildingYear')" class="col-span-6 sm:col-span-3" form_ControlName="minBuildingYear"
        [type]="'number'" (notify)="setMinimalValue()">
      </app-form-text-input>

      <app-form-text-input [isWithIcon]="true" label="Максимум" [form]="form"
        [control_name]="form.get('maxBuildingYear')" class="col-span-6 sm:col-span-3" form_ControlName="maxBuildingYear"
        [type]="'number'" (notify)="setMaximalValue()">
      </app-form-text-input>


    </div>
  </div>
</form>